{% extends 'base.html' %}
{% load i18n static %}
{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Expenses</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'projects:expense-create' %}">
          <i class="fas fa-plus"></i>
          {% trans 'New expense' %}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Amount' %}</td>
            <td>{% trans 'Date' %}</td>
            <td>{% trans 'Project' %}</td>
          </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
          <tr>
            <td>
              <a class="btn btn-outline-info btn-sm" href="{% url 'projects:expense-detail' expense.id %}">
                <i class="fas fa-info"></i>
                {{ expense.name }}
              </a>
            </td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.project.name }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
