{% extends 'base.html' %}
{% load i18n static %}
{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Projects</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'projects:project-create' %}">
          <i class="fas fa-plus"></i>
          {% trans 'New project' %}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Client' %}</td>
            <td>{% trans 'Payment type' %}</td>
            <td>{% trans 'Start date' %}</td>
            <td>{% trans 'End date' %}</td>
            <td>{% trans 'Total paid' %}</td>
            <td>{% trans 'Expenses' %}</td>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td>
              <a class="btn btn-outline-info btn-sm" href="{% url 'projects:project-detail' project.id %}">
                <i class="fas fa-info"></i>
                {{ project.name }}
              </a>
            </td>
            <td>{{ project.client }}</td>
            <td>{{ project.get_payment_type_display }}</td>
            <td>{{ project.start_date }}</td>
            <td>{{ project.end_date|default_if_none:'' }}</td>
            <td>{{ project.total_paid|default_if_none:'0.00' }}</td>
            <td>{{ project.expenses_amount|default_if_none:'0.00' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      {% include '_pagination.html' %}
    </div>
  </div>
{% endblock content %}
