{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ project.name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#create-invoice-modal">
          <i class="fas fa-plus"></i>
          {% trans 'Create invoice' %}
        </button>

        <a class="btn btn-sm btn-outline-secondary" href="{% url 'projects:project-update' project.id %}">
          <i class="fas fa-edit"></i>
          {% trans 'Edit' %}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>{% trans 'Client' %}</td>
            <td>
              <a href="{% url 'clients:client-detail' project.client.id %}">
                {{ project.client }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{% trans 'Status' %}</td>
            <td>{{ project.get_status_display }}</td>
          </tr>
          <tr>
            <td>{% trans 'Start date' %}</td>
            <td>{{ project.start_date }}</td>
          </tr>
          <tr>
            <td>{% trans 'End date' %}</td>
            <td>{{ project.end_date|default_if_none:'' }}</td>
          </tr>
          <tr>
            <td>{% trans 'Payment type' %}</td>
            <td>{{ project.get_payment_type_display }}</td>
          </tr>
          <tr>
            <td>{% trans 'Rate' %}</td>
            <td>{{ project.currency }} {{ project.rate }}</td>
          </tr>
          <tr>
            <td>{% trans 'Notes' %}</td>
            <td>{{ project.notes|default_if_none:'' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h2>
        <a href="{% url 'projects:expense-list' %}?project={{ project.id }}">
          {% trans 'Expenses' %}
        </a>
      </h2>
      <div class="list-group">
        {% for expense in project.expenses.all %}
        <a class="list-group-item list-group-item-action" href="{% url 'projects:expense-detail' expense.id %}">
          <i class="fas fa-money-bill-alt"></i>
          {{ expense.name }} - {{ expense.amount }}
        </a>
        {% endfor %}
      </div>
      <hr/>
      <h2>
        <a href="{% url 'invoices:invoice-list' %}?project={{ project.id }}">
          {% trans 'Invoices' %}
        </a>
      </h2>
      <div class="list-group">
        {% for invoice in project.invoices.non_draft %}
        <a class="list-group-item list-group-item-action" href="{% url 'invoices:invoice-detail' invoice.id %}">
          <i class="fas fa-dollar-sign"></i>
          {{ invoice }} {{ invoice.total }}
          <span class="badge badge-primary badge-pill">{{ invoice.get_status_display }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Create invoice modal -->
  <div class="modal fade" id="create-invoice-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Choose a type' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <select id="type" class="select form-control" action="">
              <option value="flat" data-url="{% url 'projects:project-create-invoice' project.id 'flat' %}">{% trans 'Flat' %}</option>
              <option value="rate" data-url="{% url 'projects:project-create-invoice' project.id 'rate' %}">{% trans 'Rate' %}</option>
              <option value="percentage" data-url="{% url 'projects:project-create-invoice' project.id 'percentage' %}">{% trans 'Percentage' %}</option>
            </select>
          </form>
          <br/>
          <p>
            <b>{% trans 'Flat' %}: </b> {% trans 'A flat amount' %}
          </p>
          <p>
            <b>{% trans 'Rate' %}: </b> {% trans 'An amount based in a rate and units of time' %}
          </p>
          <p>
            <b>{% trans 'Percentage' %}: </b> {% trans 'A percentage of the current project rate' %}
            <br/>
            <small>{% trans 'Only applicable to project with flat payment type' %}</small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
          <button type="button" class="btn btn-primary" id="btn-go-to-invoice-creation">
            {% trans 'Create invoice' %}
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
  <script>
    $(document).ready(function () {
      $('#btn-go-to-invoice-creation').on('click', function () {
        document.location.href = $('#type').find('option:selected').data('url');
      });
    });
  </script>
{% endblock javascript %}
