{% load staticfiles i18n humanize %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% block css %}{% endblock %}

    <title>Proma | {{ title }}</title>

  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'home' %}">Proma</a>
      {% if active_timesheet %}
        <a class="navbar-brand col-md-2 text-success" href="{% url "projects:timesheet-clock-out" %}">
          <i class="fas fa-clock"></i>
          {% trans "Active timesheet since" %} {{ active_timesheet.date_start|naturaltime }} {{ active_timesheet.label|default_if_none:"" }}
          <small>{% trans "Click to stop" %}</small>
        </a>
      {% else %}
        <a class="navbar-brand col-md-2 text-secondary" href="{% url "projects:timesheet-clock-in" %}">
          <i class="fas fa-clock"></i>
          {% trans "No active timesheet" %}
          <small>{% trans "Click to start a new one" %}</small>
        </a>
      {% endif %}
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'users:logout' %}">
            <i class="fas fa-sign-out-alt"></i> {% trans 'Sign out' %}
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% if request.path == "/" %}active{% endif %}" href="{% url 'home' %}">
                  <span class="fas fa-home"></span>
                  {% trans 'Dashboard' %} <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>

            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link {% if "clients" in request.path %}active{% endif %}" href="{% url 'clients:client-list' %}">
                  <span class="fas fa-users"></span>
                  {% trans 'Clients' %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if "projects" in request.path %}active{% endif %}" href="{% url 'projects:project-list' %}">
                  <span class="fas fa-folder"></span>
                  {% trans 'Projects' %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if "expenses" in request.path %}active{% endif %}" href="{% url 'projects:expense-list' %}">
                  <span class="fas fa-money-bill-alt"></span>
                  {% trans 'Expenses' %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if "timesheets" in request.path %}active{% endif %}" href="{% url 'projects:timesheet-list' %}">
                  <span class="fas fa-clock"></span>
                  {% trans 'Timesheets' %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if "invoices" in request.path %}active{% endif %}" href="{% url 'invoices:invoice-list' %}">
                  <span class="fas fa-dollar-sign"></span>
                  {% trans 'Invoices' %}
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>{% trans 'Reporting' %}</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span class="fas fa-plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="fas fa-chart-line"></span>
                  Sample report
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="fas fa-chart-bar"></span>

                  Sample report 2
                </a>
              </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>{% trans 'Settings' %}</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span class="fas fa-plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link {% if request.path == "/settings/" %}active{% endif %}" href="{% url 'config:configuration-update' %}">
                  <span class="fas fa-wrench"></span>
                  {% trans 'Configuration' %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == "/change-password" %}active{% endif %}" href="{% url 'users:change-password' %}">
                  <span class="fas fa-key"></span>
                  {% trans 'Change password' %}
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
          {% block content %}{% endblock content %}
          <br/>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'vendor/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap-datepicker.min.js' %}"></script>

    {% block javascript %}{% endblock %}
  </body>
</html>
