{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row text-center">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ clients_quantity }} {% trans 'Clients' %}</h5>
        <p>
          <i class="fas fa-8x fa-users"></i>
        </p>
        <a href="{% url 'clients:client-create' %}" class="btn btn-outline-primary">
          <i class="fas fa-plus"></i>
          {% trans 'New client' %}
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ projects_quantity }} {% trans 'Projects' %}</h5>
        <p>
          <i class="fas fa-8x fa-folder"></i>
        </p>
        <a href="{% url 'projects:project-create' %}" class="btn btn-outline-primary">
          <i class="fas fa-plus"></i>
          {% trans 'New project' %}
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ expenses_quantity }} {% trans 'Expenses' %}</h5>
        <p>
          <i class="fas fa-8x fa-money-bill-alt"></i>
        </p>
        <a href="{% url 'projects:expense-create' %}" class="btn btn-outline-primary">
          <i class="fas fa-plus"></i>
          {% trans 'New expense' %}
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ invoices_quantity }} {% trans 'Invoices' %}</h5>
        <p>
          <i class="fas fa-8x fa-dollar-sign"></i>
        </p>
        <a href="{% url 'invoices:invoice-create' %}" class="btn btn-outline-primary">
          <i class="fas fa-plus"></i>
          {% trans 'New invoice' %}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
