{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ invoice }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        {% if invoice.status == invoice.DRAFT %}
        <a class="btn btn-sm btn-outline-info" href="{% url 'invoices:invoice-action' invoice.id 'open' %}">
          <i class="fas fa-envelope"></i> {% trans 'Open' %}
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'invoices:invoice-update' invoice.id %}">
          <i class="fas fa-edit"></i>
          {% trans 'Edit' %}
        </a>
        {% elif invoice.status == invoice.OPEN %}
        <a class="btn btn-sm btn-outline-danger" href="{% url 'invoices:invoice-action' invoice.id 'cancel' %}">
          <i class="fas fa-ban"></i> {% trans 'Cancel' %}
        </a>
        <a class="btn btn-sm btn-outline-info" href="{% url 'invoices:invoice-resend-email' invoice.id %}">
          <i class="fas fa-paper-plane"></i> {% trans 'Resend email' %}
        </a>
        {% endif %}
        {% if invoice.status != invoice.DRAFT %}
        <a class="btn btn-sm btn-outline-info" href="{% url 'invoices:invoice-download-pdf' invoice.id %}">
          <i class="fas fa-file-pdf"></i> {% trans 'Download PDF' %}
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>{% trans 'Status' %}</td>
            <td>{{ invoice.get_status_display }}</td>
          </tr>
          <tr>
            <td>{% trans 'Client' %}</td>
            <td>
              <a href="{% url 'clients:client-detail' invoice.client.id %}">
                {{ invoice.client }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{% trans 'Project' %}</td>
            <td>
              <a href="{% url 'projects:project-detail' invoice.project.id %}">
                {{ invoice.project }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{% trans 'Issue date' %}</td>
            <td>{{ invoice.issue_date }}</td>
          </tr>
          <tr>
            <td>{% trans 'Due date' %}</td>
            <td>{{ invoice.due_date }}</td>
          </tr>
          {% if invoice.status != invoice.DRAFT %}
          <tr>
            <td>{% trans 'Opening date' %}</td>
            <td>{{ invoice.opening_date }}</td>
          </tr>
          {% endif %}
          {% if invoice.status == invoice.CANCELLED %}
          <tr>
            <td>{% trans 'Cancellation date' %}</td>
            <td>{{ invoice.cancellation_date }}</td>
          </tr>
          {% endif %}
          {% if invoice.status == invoice.PAID %}
          <tr>
            <td>{% trans 'Payment date' %}</td>
            <td>{{ invoice.payment_date }}</td>
          </tr>
          {% endif %}
          <tr>
            <td>{% trans 'Attachment' %}</td>
            <td>
              {% if invoice.attachment %}
              <a class="btn btn-sm btn-outline-secondary" href="{% get_media_prefix %}{{ invoice.attachment }}">
                <i class="fas fa-download"></i> {% trans 'Download' %}
              </a>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <th>{% trans 'Description' %}</th>
          <th class="text-right">{% trans 'Rate' %}</th>
          <th class="text-right">{% trans 'Units' %}</th>
          <th class="text-right">{% trans 'Total' %}</th>
        </thead>
        <tbody>
          {% for item in invoice.items.all %}
          <tr>
            <td>{{ item.description }}</td>
            <td class="text-right">{{ item.rate }}</td>
            <td class="text-right">{{ item.units }}</td>
            <td class="text-right">{{ item.total }}</td>
          </tr>
          {% endfor %}
          <tr class="text-right">
            <td colspan="3" class="text-right">
              {% trans 'Subtotal' %}
            </td>
            <td>
              {{ invoice.subtotal }}
            </td>
          </tr>
          <tr class="text-right">
            <td colspan="3" class="text-right">
              {% trans 'Taxes' %} {{ invoice.tax_percent|default_if_none:'0.00' }} %
            </td>
            <td>
              {{ invoice.tax_total }}
            </td>
          </tr>
          <tr class="text-right">
            <td colspan="3">
              {% trans 'Total' %}
            </td>
            <td>
              {{ invoice.total }}
            </td>
          </tr>
        </tbody>
      </table>
      <br/>
      <p>
        {% trans 'Notes' %}
      </p>
      <p>
        {{ invoice.notes|default_if_none:'' }}
      </p>
    </div>
  </div>
{% endblock content %}
