{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Invoices</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{% url "invoices:invoice-create" %}">
          <i class="fas fa-plus"></i>
          {% trans "New invoice" %}
        </a>
      </div>
    </div>
  </div>

  {% include "_filter.html" with filter=filter %}

  <div class="row">
    <div class="col-md-12">
      {% include "invoices/_invoice-table.html" %}
    </div>
    <div class="col-md-12">
      {% include "_pagination.html" %}
    </div>
  </div>
{% endblock content %}
