{% extends 'base.html' %}
{% load i18n static %}
{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Clients</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'clients:client-create' %}">
          <i class="fas fa-plus"></i>
          {% trans 'New client' %}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>{% trans 'Name' %}</td>
            <td>{% trans 'Email' %}</td>
            <td>{% trans 'Tax Identifier' %}</td>
          </tr>
        </thead>
        <tbody>
        {% for client in clients %}
          <tr>
            <td>
              <a class="btn btn-outline-info btn-sm" href="{% url 'clients:client-detail' client.id %}">
                <i class="fas fa-info"></i>
                {{ client.name }}
              </a>
            </td>
            <td>{{ client.email }}</td>
            <td>{{ client.tax_identifier|default_if_none:'' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      {% include '_pagination.html' %}
    </div>
  </div>
{% endblock content %}
