{% extends 'base.html' %}
{% load i18n static %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ client.name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'clients:client-update' client.id %}">
          <i class="fas fa-edit"></i>
          {% trans 'Edit' %}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>{% trans 'Status' %}</td>
            <td>{{ client.get_status_display }}</td>
          </tr>
          <tr>
            <td>{% trans 'Email' %}</td>
            <td>
              <a href="mailto:{{ client.email }}">{{ client.email }}</a>
            </td>
          </tr>
          <tr>
            <td>{% trans 'Tax Identifier' %}</td>
            <td>{{ client.tax_identifier|default_if_none:'' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h2>{% trans 'Projects' %}</h2>
      <div class="list-group">
        {% for project in client.projects.all %}
        <a class="list-group-item list-group-item-action" href="{% url 'projects:project-detail' project.id %}">
          <i class="fas fa-folder"></i>
          {{ project.name }}
          <span class="badge badge-primary badge-pill">{{ project.get_status_display }}</span>
        </a>
        {% endfor %}
      </div>
      <hr/>
      <h2>{% trans 'Invoices' %}</h2>
      <div class="list-group">
        {% for invoice in client.invoices.non_draft %}
        <a class="list-group-item list-group-item-action" href="{% url 'invoices:invoice-detail' invoice.id %}">
          <i class="fas fa-dollar-sign"></i>
          {{ invoice }} {{ invoice.total }}
          <span class="badge badge-primary badge-pill">{{ invoice.get_status_display }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
